<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.rg" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
    <head th:insert="base/head.html">
    </head>

    <div id="body-wrapper">
        <div id="body-content">
            <div class="text-center">
                <span class="font-weight-bold" style="font-size: 130%;" th:text="${#request.getParameter('error')}"></span>
            </div>

            <div class="objAddArea row">
                <div class="col-sm-10">
                    <!-- TODO 삭제기능, 주 목표 설정 기능-->
                    <button class="btn-lg" name="removeObj" onclick="toggleCSS('objDelete')">➖</button>
                    <button class="btn-lg" name="representObj" onclick="toggleCSS('objRepresent')">🖤</button>
                    <button class="btn-lg" id="checkObjBtn" name="checkObj" onclick="updateUserObjInfo('delete')" style="display: none">✔</button>
                    <button class="btn-lg" onclick="location.href='/user/userObjAdd'">➕</button>
                </div>
            </div>



            <div class="row" style="margin-left: 5%">
                <div class="col-sm-11">
                    <table class="table table-borderless mt-4" style="table-layout: fixed;"  th:if="${userObjList!=null and not userObjList.empty} ">

                        <thead class="thead-dark">
                            <tr class="text-center table-header">
                                <th style="width: 25%;" scope="col">목표</th>
                                <th style="width: 45%;" scope="col">부가 설명</th>
                                <th style="width: 10%;" scope="col">목표설정일</th>
                                <th style="width: 10%;" scope="col">지난일수</th>
                                <th style="width: 10%;" scope="col">목표일</th>
                                <th style="width: 10%;" scope="col">남은일</th>
                                <th ></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="userObj : ${userObjList}" th:height="50px" class="text-center userObjTable"
                                th:style="${userObj.isRepresentObj} == true ? 'background-color: #9f9f9f' : ''">
                                <td>
                                    <p th:text="|${userObj.isRepresentObj == true ? '[🖤]' : ''} ${userObj.objTitle}|"></p>
                                </td>
                                <td>
                                    <p th:text="${userObj.objContent}"></p>
                                </td>
                                <td>
                                    <p th:text="|${#temporals.format(userObj.createdDate,'yyyy-MM-dd')}|"></p>
                                </td>
                                <td>
                                    <p th:text="${#dateUtil.dateBetween(userObj.createdDate,userObj.objDay)}"></p>
                                </td>
                                <td>
                                    <p th:text="${userObj.objDay}"></p>
                                </td>
                                <td>
                                    <p th:text="${#dateUtil.dateSubtract(userObj.createdDate,userObj.objDay)}"></p>
                                </td>
                                <td>
                                    <input type="checkbox" th:id="|objDelete-${userObj.objIdx}|" class="form-check-input objDelete" style="display: none; zoom: 2; margin-left: 5px"></input>
                                    <a class="form-check-input objRepresent" th:onclick='|updateUserObjInfo(${userObj.objIdx})|' style="display: none; margin-left: 5px">🖤</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>




</html>

<script src="/js/UserObjUI.js"></script>
<script src="/js/UserObjAPI.js"></script>
<style>
    .objCheck
    {
        margin-left:10px;
        zoom:1.3;
    }


</style>
