<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
    <head th:insert="base/head.html">
    </head>

    <body>
        <div id="body-wrapper">
            <div id="body-content">
                <div class="full_area">

                    <div class="row" style="margin-top: 35px; margin-left: 17%;">
                        <div class="col-sm-12 col-md-10" id="notificationArea">
                            <h2>냠냠</h2>
                        </div>


                        <div class="col-sm-12 col-md-10">
                            <h2 th:if="!(${postList.isEmpty()})">시끄러운 글들</h2>
                        </div>

                        <div class="col-sm-12 col-md-10">
                            <table th:replace="fragments/showingGalleryBoard">
                            </table>
                        </div>
                    </div>

                </div>

                <div th:replace="fragments/commonFooter :: commonFooter">
                </div>
            </div>
        </div>

    </body>

    <script type="text/javascript">

    </script>
</html>

