<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:insert="base/head.html">
</head>
<body>
<div id="body-wrapper">
    <div id="body-content">
        <div class="text-center">
            <h2 th:text="|${username} 님의 비밀번호 변경페이지입니다|">
            </h2>
        </div>
        <hr>

        <div class="row">
            <div id="changePassword" class="col-sm-12" sec:authorize="isAuthenticated()" th:if="${#authorization.getAuthentication().getName()} == ${username}">>

                <div id="changeUserPasswordFormArea" class="col-center" th:if="${changeResult == null}">
                    <form method="post" onsubmit="return checkChangePasswordValid()">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                        <input class="form-control" type="password" minlength="2" maxlength="20" name="originUserPassword" required id="originUserPassword" placeholder="기존 비밀번호를 입력해주세요">
                        <input class="form-control" type="password" minlength="4" maxlength="20" name="objUserPasswordOne" required id="objUserPasswordOne" placeholder="변경할 비밀번호를 입력해주세요">
                        <input class="form-control" type="password" minlength="4" maxlength="20" name="objUserPasswordTwo" required id="objUserPasswordTwo" placeholder="변경할 비밀번호를 다시 한번 입력해주세요">
                        <button class="form-control btn btn-dark" style="border:none;">제출</button>
                    </form>

                </div>

                <div class="col-center text-center mt-2">
                    <h5 id="resultArea">
                    </h5>
                </div>

                <div id="changeUserPasswordResultArea" class="col-center" th:if="${changeResult}">
                    <h5 th:text="${changeResult}">
                    </h5>
                </div>


                </div>

        </div>
    </div>
</div>


</body>
<div th:replace="fragments/commonFooter :: commonFooter">
</div>

<script src="/js/checkValidUserInfo.js"></script>
<script>
    $(document).ready(function () {
        doubleCheckPassword();
    });
</script>


</html>




