<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:insert="base/head.html">
</head>

<body>

    <div id="body-wrapper">
        <div id="body-content">

            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-6">
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <button class="btn btn-dark btn-lg col-sm-8" th:onclick="|location.href='@{/user/signup}'|">
                        Mindaces 회원가입
                    </button>


                    <div class="col-sm-4">
                    </div>

                    <button class="btn btn-dark btn-lg col-sm-8" style="margin-top: 50px" th:onclick="|location.href='@{/oauth2/authorization/google}'|  ">아직 만드는중임</button>
                </div>


                <div th:replace="fragments/commonFooter :: commonFooter">
                </div>

            </div>
        </div>

    </div>

</body>
</html>

<script src="/js/AjaxAPI.js" defer></script>
<script src="/js/CheckValid.js" defer></script>




