<!DOCTYPE html>


<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:insert="base/head.html">
</head>

<body>
    <div id="body-wrapper">
        <div id="body-content">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-6">
                    <h2>
                        Mindaces 회원가입
                    </h2>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-5">
                </div>

                <div class="col-md-3">

                    <form th:action="@{/user/signup}" onsubmit="return checkValidUserInfo()" method="POST">

                        <div class="col-sm-8" id="idArea">
                            <input class="form-control" type="text" minlength="2" maxlength="20" name="userID" id="userID" required  placeholder="아이디">
                        </div>

                        <div class="col-sm-4">
                        </div>

                        <p id="resultID" th:text="${msg}"></p>


                        <div class="col-sm-8 mt-2">
                            <input class="form-control" type="password" minlength="8" maxlength="20" required id="userPassword" name="userPassword" placeholder="비밀번호">
                        </div>

                        <div class="col-sm-4">
                        </div>

                        <p id="resultPW" th:text="${msg}"></p>


                        <div class="col-sm-8 mt-2">
                            <input class="form-control" type="email" minlength="4" maxlength="40" required id="userEmail" name="userEmail" placeholder="인증 이메일">
                        </div>

                        <div class="col-sm-4">
                        </div>

                        <p id="resultEmail" th:text="${msg}"></p>


                        <div class="col-sm-8">
                            <button class="form-control btn btn-dark" style="border:none;">제출</button>
                        </div>

                        <p id="resultArea" th:text="${msg}"></p>


                        <style>
                            input
                            {
                                width:225px;
                            }
                        </style>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>

<script src="/js/SignUpAPI.js" defer></script>
<script src="/js/CheckValidUserInfo.js" defer></script>
<script>
    $(document).ready(function () {

        addBlurCheckEvent("signup");
    });

</script>



</html>

