<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:insert="base/head.html">
    <meta charset="UTF-8">
    <title>Mindaces</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
    <body>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <h2>
                    Mindaces 회원가입
                </h2>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-5">
                <form th:action="@{/user/signup}" onsubmit="return checkValid()" method="POST">
                    <div id="idArea">
                        <input type="text" minlength="2" maxlength="10" name="userID" required id="userID" placeholder="닉네임">
                        <p id="alarmArea" th:text="${msg}"></p>
                    </div>
                    <div>
                        <input type="password" minlength="8" maxlength="20" required id="userPassword" name="userPassword" placeholder="비밀번호">
                        <p></p>
                    </div>
                    <div>
                        <input type="email" minlength="4" maxlength="40" required id="userEmail" name="userEmail" placeholder="인증 이메일">
                    </div>

                    <p></p>
                    <button>제출</button>
                    <p id="resultArea" th:text="${msg}"></p>




                    <style>
                        input
                        {
                            width:225px;
                        }
                    </style>



                </form>
            </div>

        </div>
    </body>
</html>


<script src="/js/SignUpAPI.js" defer></script>
<script src="/js/CheckValid.js" defer></script>

