<!DOCTYPE html>
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="base/head.html"></head>

<body>
    <div id="body-wrapper">
        <div id="body-content">
            <h1>비정상적인 접근입니다</h1>
            <h3 th:text="|Error Case [${errorCase}] |"></h3>
            <h5 th:text="|Error [${errorMsg}]|"></h5>
            <a th:href="@{'/'}">홈으로 이동</a>
            <div th:replace="fragments/commonFooter :: commonFooter">
            </div>
        </div>
    </div>
</body>

</html>