<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:insert="base/head.html">
</head>
<body>

<h2 th:text="|${postList[0].gallery} 갤러리|">
</h2>

<table class="table">
    <thead class="thead-light">
    <tr class="text-center">
        <th scope="col">인덱스</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">추천수</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="post : ${postList}" class="text-center">
            <td>
                <p th:text="${post.contentIdx}"></p>
            </td>
            <td>
                <a th:href="@{${post.contentIdx}}" th:text="${post.title} "></a>
            </td>
            <td>
                <p th:text="${post.user}"></p>
            </td>
            <td>
                <p th:text="${post.likes}"></p>
            </td>
        </tr>
    </tbody>

    <button th:onclick="|location.href=@{'postWrite'}|">글쓰기</button>
</table>


</body>

</html>




