<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:insert="base/head.html">
</head>

<body>
    <div id="body-wrapper">
        <div id="body-content">
            <div class="container" style="margin-top:5%">
                <div class="content-part col-sm-12" style="margin-top: 10px; width: 100%">

                    <div class="gallery-name-part" style="margin-bottom:20px; border-bottom:2px solid #cecece;">
                        <a href="" th:if="${searchKeyword == null}">
                            <h2 th:text="|${galleryName} 갤러리|"></h2>
                        </a>
                        <a href="/gallery/galleryList">
                            <h2 th:text="|갤러리 리스트|" th:if="${searchKeyword != null}"></h2>
                        </a>
                    </div>

                    <div class="header">
                        <div class="selectPagingMode" style="display: inline" th:if="${searchKeyword == null}">
                            <button class="btn-outline-dark btn" th:onclick="|window.location.href='?pagingMode=board&page=1'|" >전체글</button>
                            <button class="btn-outline-dark btn" th:onclick="|window.location.href='?pagingMode=mostLikedBoard&page=1'|">개념글</button>
                        </div>

                        <div class="selectPagingMode" style="display: inline" th:if="${searchKeyword != null}">
                            <form method="get" id="selectPagingModeForm" class="d-inline">
                                <input hidden th:if="${searchMode != null}" th:value="${searchMode}" name="searchMode">
                                <input hidden th:if="${searchKeyword != null}"  th:value="${searchKeyword}" name="searchKeyword">
                                <input hidden th:if="${searchGalleryKeyword != null}"  th:value="${searchGalleryKeyword}" name="searchGalleryKeyword">
                                <button class="btn-outline-dark btn" type="button" th:onclick="setSearchFormActionByMode('selectPagingModeForm','board')">전체글</button>
                                <button class="btn-outline-dark btn" type="button" th:onclick="setSearchFormActionByMode('selectPagingModeForm','mostLikedBoard')" >개념글</button>
                            </form>
                        </div>

                        <!-- 갤러리 검색 -->
                        <form id="gallerySearchForm" method="get" class="form-inline d-inline" th:if="${searchMode}">
                            <input hidden th:if="${searchMode != null}" th:value="${searchMode}" name="searchMode">
                            <input hidden th:if="${searchKeyword != null}"  th:value="${searchKeyword}" name="searchKeyword">
                            <input class="form-control " name="searchGalleryKeyword" id="searchKeyword" type="search" th:placeholder="${searchGalleryKeyword == null} ? '갤러리'" th:value="${searchGalleryKeyword != null} ? ${searchGalleryKeyword} ">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </div>


                    <div th:if="${searchMode}">
                        <table th:replace="fragments/showingGalleryBoard">
                        </table>
                    </div>

                    <div th:if="${searchMode == null}">
                        <table th:replace="fragments/commonBoard">
                        </table>
                    </div>



                    <div class="">
                        <button class="btn btn-dark float-right" style="margin-right: 100px"
                                th:onclick="'location.href=\''+ @{'/gallery/' + ${galleryName} + '/' + postWrite + '?pagingMode=' + ${pagingMode} + '&page=' + ${page}  } + '\''">글쓰기</button>
                    </div>


                    <div class="text-center " style="float:none; margin:0 auto" th:if="${searchKeyword == null}">
                        <span th:replace="fragments/commonBoardPaging :: commonBoardPaging (false)" >
                        </span>
                    </div>

                    <div class="text-center " style="float:none; margin:0 auto" th:if="${searchKeyword != null}">
                        <span th:if="${searchKeyword != null}" th:replace="fragments/commonSearchPaging">
                        </span>
                    </div>

                    <div th:replace="fragments/commonBoardSearch :: commonBoardSearch (${galleryName})"></div>

                </div>
            </div>

            <div th:replace="fragments/commonFooter :: commonFooter">
            </div>
        </div>
    </div>


</body>
<script src="/js/UrlMapping.js"></script>
</html>




