<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="base/head.html">
</head>

<body>
    <div class="container"  style="margin-top:5%">
        <div class="info-part">
            <div class="form-group board-info-part">
                <div class="gallery-name-part" style="margin-bottom:20px; border-bottom:2px solid #cecece;">
                    <a th:href=".">
                        <h2 th:text="|${board.gallery} 갤러리|"></h2>
                    </a>
                </div>
                <h3 class="" style="margin-top:3px;">
                    <span th:text="${board.title}"></span>
                </h3>

                <div class="" style="margin-top: 15px; border-bottom:1px solid #eee">
                    <span th:text="${board.user}"></span>
                </div>

                <input id="isRoleUser" sec:authorize="isAuthenticated()" type="text" hidden value="true"/>
                <input id="isRoleUser" sec:authorize="!isAuthenticated()" type="text" hidden value="false"/>

                <div class="modify-btns">
                    <div class="hidden-password">
                        <form hidden id="hiddenPasswordForm" method="post">
                            <input type="text" id="password" placeholder="비밀번호" name="hiddenPassword" value="">
                        </form>
                    </div>
                </div>
                <div class="btns part" style="position: relative">
                    <div class="modifyBtnsArea float-right">
                        <div class="modifyBtns">
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="isAuthenticated()" th:onclick="checkUserAjax([[${board.contentIdx}]],modifyURL,[[${board.gallery}]])">수정</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="!isAuthenticated()" th:onclick="foldPasswordInput(modifyURL) ">수정</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="isAuthenticated()" th:onclick="checkUserAjax([[${board.contentIdx}]],deleteURL,[[${board.gallery}]])">삭제</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="!isAuthenticated()" th:onclick="foldPasswordInput(deleteURL) ">삭제</button>
                        </div>
                    </div>

                    <div class="inputPasswordArea float-right" id="inputPasswordArea"  style="display: none; position: absolute; width: 300px;">
                        <div class="input-part" sec:authorize="!isAuthenticated()">
                            <input type="password" placeholder="게시글 비밀번호" class="text-black" id="inputPassword" name="inputPassword" value="">
                            <button class="btn btn-primary" th:onclick="getPassword([[${board.contentIdx}]],[[${board.gallery}]])">제출</button>
                            <button class="btn btn-primary btn-" th:onclick="foldPasswordInput('')">취소</button>
                        </div>

                        <style>
                            .input-part
                            {
                                position: absolute;
                                top: -80px;
                                left: 990px;
                            }
                        </style>
                    </div>

                </div>

                <div style="margin-top: 50px;">
                    <div th:utext="${board.content}"></div>
                </div>

            </div>
        </div>
    </div>

<script th:inline="javascript">
    var modifyURL = [[@{'/gallery/' + ${board.gallery} + '/modify/' + ${board.contentIdx}}]];
    var deleteURL = [[@{'/gallery/' + ${board.gallery} + '/delete/' + ${board.contentIdx}}]];
    var redirectURL = "";
    var isRoleUserVal = $('#isRoleUser').val();
    var isWriteLoggedBoard = [[${board.isLoggedUser}]] == 1;
</script>

<script th:src="@{/js/ModifyBoardAPI.js}"></script>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
