<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:form="http://www.w3.org/1999/html">
<head th:insert="base/head.html">
</head>

<body>
    <div class="container"  style="margin-top:5%">
        <div class="info-part">
            <div class="form-group board-info-part">
                <div class="gallery-name-part" style="margin-bottom:20px; border-bottom:2px solid #cecece;">
                    <a th:href=".">
                        <h2 th:text="|${board.gallery} 갤러리|"></h2>
                    </a>
                </div>
                <h3 class="" style="margin-top:3px;">
                    <span th:text="${board.title}"></span>
                </h3>

                <div class="" style="margin-top: 15px; border-bottom:1px solid #eee">
                    <span th:text="${board.user}"></span>
                </div>

                <input id="isRoleUser" sec:authorize="isAuthenticated()" type="text" hidden value="true"/>
                <input id="isRoleUser" sec:authorize="!isAuthenticated()" type="text" hidden value="false"/>

                <div class="modify-btns">
                    <div class="hidden-password">
                        <form hidden id="hiddenPasswordForm" method="post">
                            <input type="text" id="password" placeholder="비밀번호" name="hiddenPassword" value="">
                        </form>
                    </div>
                </div>
                <div class="btns part" style="position: relative">
                    <div class="modifyBtnsArea float-right">
                        <div class="modifyBtns">
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="isAuthenticated()" th:onclick="checkUserAjax([[${board.contentIdx}]],modifyURL,[[${board.gallery}]])">수정</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="!isAuthenticated()" th:onclick="foldPasswordInput(modifyURL) ">수정</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="isAuthenticated()" th:onclick="checkUserAjax([[${board.contentIdx}]],deleteURL,[[${board.gallery}]])">삭제</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="!isAuthenticated()" th:onclick="foldPasswordInput(deleteURL) ">삭제</button>
                        </div>
                    </div>

                    <div class="inputPasswordArea float-right" id="inputPasswordArea"  style="display: none; position: absolute; width: 300px;">
                        <div class="input-part" sec:authorize="!isAuthenticated()">
                            <input type="password" placeholder="게시글 비밀번호" class="text-black" id="inputPassword" name="inputPassword" value="">
                            <button class="btn btn-primary" th:onclick="getPassword([[${board.contentIdx}]],[[${board.gallery}]])">제출</button>
                            <button class="btn btn-primary btn-" th:onclick="foldPasswordInput('')">취소</button>
                        </div>

                        <style>
                            .input-part
                            {
                                position: absolute;
                                top: -80px;
                                left: 990px;
                            }
                        </style>
                    </div>

                </div>

                <div style="margin-top: 50px;">
                    <div th:utext="${board.content}"></div>
                </div>

                <div class="likes-btns" style="text-align: center;">
                    <button class="btn btn-outline-primary" id="likesBtn" style="margin-right: 10px;" onclick="sendLikeRequest('like',galleryName,boardIdx)" th:text="|개추 ${board.likes}|"></button>
                    <button class="btn btn-outline-primary" id="dislikesBtn" style="margin-left: 10px;" onclick="sendLikeRequest('dislike',galleryName,boardIdx)" th:text="|비추 ${board.dislikes}|"></button>
                </div>

            </div>
        </div>
        <div class="comment-part" style="margin-bottom:20px; margin-top:20px; border-top:2px solid #cecece; border-bottom:2px solid #cecece;">
            <div class="comments row" th:each="comment : ${commentList}">
                <div class="col-sm-3 form-input">
                    <span th:text="${comment.user}"></span>
                </div>
                <div class="col-sm-7 form-input">
                    <pre style="white-space: pre-wrap; width: 100%;  word-wrap: break-word" th:text="${comment.content}"></pre>
                </div>
                <div class="col-sm-2 form-input">
                    <form id="commentModifyForm" method="post">
                        <input hidden th:value="${comment.commentIdx}" name="commentIdx">
                        <a href="javascript:;" th:onclick="checkAndSubmit(this,[[${comment.commentIdx}]])" id="checkBtn" style="font-size: 80%; display: none; float: right">✔</a>
                        <input id="inputCommentPassword" name="inputCommentPassword" type="password" minlength="4" maxlength="20" style="display: none; width: 85%">
                        <a href="javascript:;" onclick="showInput(this, 'modifyComment')" style="font-size: 80%">수정</a>
                        <a href="javascript:;" onclick="showInput(this,'deleteComment')" style="font-size: 80%">삭제</a>
                    </form>

                </div>

            </div>

            <form method="post" class="write-comment row" onsubmit="return checkCommentValid()">
                <div class="col-sm-3 form-input">
                    <input type="text" name="user" minlength="2" maxlength="20" placeholder="글쓴이" class="form-control" id="commentUser" >
                    <input type="password" name="commentPassword" minlength="4" maxlength="20" placeholder="비밀번호" class="form-control form-input" id="commentPassword" th:value="${board?.password}" th:readonly="${board?.password}">
                </div>
                <div class="col-sm-9 form-input">
                    <textarea minlength="2" maxlength="180" id="commentContent" name="content" class="form-control" rows="4" cols="50" style="resize: none;" placeholder="코멘트"></textarea>
                </div>
                <div class="col-sm-12 form-input" style="margin-bottom: 20px">
                    <button class="btn btn-primary float-right">제출</button>
                </div>
            </form>
        </div>


    </div>



<script th:inline="javascript">
    var galleryName = [[${board.gallery}]];
    var boardIdx = [[${board.contentIdx}]];
    var modifyURL = [[@{'/gallery/' + ${board.gallery} + '/modify/' + ${board.contentIdx}}]];
    var deleteURL = [[@{'/gallery/' + ${board.gallery} + '/delete/' + ${board.contentIdx}}]];
    var redirectURL = "";
    var isRoleUserVal = $('#isRoleUser').val();
    var isWriteLoggedBoard = [[${board.isLoggedUser}]] == 1;
</script>

<script th:src="@{/js/ModifyCommentAPI.js}"></script>
<script th:src="@{/js/ModifyBoardAPI.js}"></script>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
