<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" xmlns:color="http://www.w3.org/1999/xhtml">>
<head th:insert="base/head.html">
</head>

<body>
    <div class="container" style="margin-top:5%">
        <div class="info-part">
            <div class="form-group board-info-part">
                <div class="gallery-name-part" style="margin-bottom:20px; border-bottom:2px solid #cecece;">
                    <a th:href=".">
                        <h2 th:text="|${board.gallery} 갤러리|"></h2>
                    </a>
                </div>
                <h3 class="" style="margin-top:3px;">
                    <span th:text="${board.title}"></span>
                </h3>

                <div class="float-right">
                    <p  th:text="|작성 ${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm:ss')}|" style="color: #9f9f9f"></p>
                    <p  th:text="|수정 ${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm:ss')}|" style="color: #9f9f9f"></p>
                </div>
                <br>
                <br>


                <div class="" style="margin-top: 15px; border-bottom:1px solid #eee">
                    <span th:text="${board.user}"></span>
                </div>

                <input id="isRoleUser" sec:authorize="isAuthenticated()" type="text" hidden value="true">
                <input id="isRoleUser" sec:authorize="!isAuthenticated()" type="text" hidden value="false">

                <div class="modify-btns">
                    <div class="hidden-password">
                        <form hidden id="hiddenPasswordForm" method="post">
                            <input type="text" id="password" placeholder="비밀번호" name="hiddenPassword" value="">
                        </form>
                    </div>
                </div>
                <div class="btns part" style="position: relative">
                    <div class="modifyBtnsArea float-right">
                        <div class="modifyBtns">
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="isAuthenticated()" th:onclick="checkBoardUserAjax([[${board.contentIdx}]],modifyURL,[[${board.gallery}]])">수정</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="!isAuthenticated()" th:onclick="foldBoardPasswordInput(modifyURL) ">수정</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="isAuthenticated()" th:onclick="checkBoardUserAjax([[${board.contentIdx}]],deleteURL,[[${board.gallery}]])">삭제</button>
                            <button class="btn btn-primary" id="modifyBtn" sec:authorize="!isAuthenticated()" th:onclick="foldBoardPasswordInput(deleteURL) ">삭제</button>
                        </div>
                    </div>

                    <div class="inputPasswordArea float-right" id="inputPasswordArea" style="display: none; position: absolute; width: 300px;">
                        <div class="input-part" sec:authorize="!isAuthenticated()">
                            <input type="password" placeholder="게시글 비밀번호" class="text-black" id="inputPassword" name="inputPassword" value="">
                            <button class="btn btn-primary" th:onclick="getPassword([[${board.contentIdx}]],[[${board.gallery}]])">제출</button>
                            <button class="btn btn-primary btn-" th:onclick="foldBoardPasswordInput('')">취소</button>
                        </div>

                        <style>
                            .input-part
                            {
                                position: absolute;
                                top: -80px;
                                left: 990px;
                            }
                        </style>
                    </div>

                </div>

                <div style="margin-top: 60px;">
                    <div th:utext="${board.content}"></div>
                </div>

                <div class="likes-btns" style="text-align: center; margin-top:100px;">
                    <button class="btn btn-outline-primary" id="likesBtn" style="margin-right: 10px;" onclick="sendBoardLikeRequest('like',galleryName,boardIdx)" th:text="|개추 ${board.likes?.likes}|"></button>
                    <button class="btn btn-outline-primary" id="dislikesBtn" style="margin-left: 10px;" onclick="sendBoardLikeRequest('dislike',galleryName,boardIdx)" th:text="|비추 ${board.likes?.dislikes}|"></button>
                </div>

            </div>
        </div>

        <div class="comment-part" style="margin-bottom:20px; margin-top:50px; border-top:2px solid #cecece; border-bottom:2px solid #cecece;">
            <div id="mostLikedComments" style="cursor:pointer; background-color: #d9d9d9; border-bottom:2px solid #cecece;" th:if="${mostLikedCommentList}">
                <h4>✨ 개추 댓글</h4>
                <div class="likedComments row" th:each="likedComment : ${mostLikedCommentList}" th:id="'likedComment'+${likedComment.getContentIdx}" th:onclick="|location.href='#commentModifyForm'+${likedComment.getContentIdx}|" >
                    <div class="col-sm-2 form-input">
                        <span id="commentModifyUser" th:text="${likedComment.user}"></span>
                    </div>
                    <div class="col-sm-8 form-input" >
                        <pre id="commentModifyContent" class="comment-content form-control" th:text="${likedComment.content}"></pre>
                    </div>

                    <div class="col-sm-2 form-input">
                        &nbsp; <span th:text="|👍 ${likedComment.likes?.likes}|"></span>
                    </div>
                </div>
            </div>
            &nbsp;
            <!-- border:3px solid #4d4d4d;  border-radius: 10px; !-->

            <div class="comments" th:each="comment : ${commentList}">
                <div class="comment"  style="margin-top: 10px">
                    <form th:id="'commentModifyForm'+${comment.getContentIdx}" class="row" method="post">
                        <div class="col-sm-3 form-input">
                            <span id="commentModifyUser" th:text="${comment.user}"></span>
                        </div>
                        <div class="col-sm-7 form-input" >
                            <pre id="commentModifyContent" class="comment-content form-control" th:text="${comment.content}"></pre>
                            <span th:text="|작성 ${#temporals.format(comment.createdDate,'yyyy-MM-dd HH:mm:ss')}|" style="color: #9f9f9f"></span>
                            <span th:text="|수정 ${#temporals.format(comment.modifiedDate,'yyyy-MM-dd HH:mm:ss')}|" style="margin-left: 5%; color: #9f9f9f" th:if="${comment.modifiedDate} != ${comment.createdDate}"></span>
                        </div>

                        <div class="col-sm-2 form-input">
                            <div class="modifyAndDeleteBtns">
                                <input hidden th:value="${comment.getContentIdx}" name="contentIdx">
                                <a href="javascript:;" th:onclick="checkPasswordAndSubmitNotLogged(this,[[${comment.contentIdx}]])" id="checkBtn" style="font-size: 80%; display: none; float: right">✔</a>
                                <input id="inputCommentPassword" name="commentPassword" type="password" minlength="4" maxlength="20" style="display: none; width: 85%">
                                <a href="javascript:;"  style="font-size: 80%" th:onclick="checkCommentUserAndInputToggle(this, 'modifyComment',[[${comment.contentIdx}]],[[${comment.isLogged}]],[[${comment.user}]])">수정</a>
                                <a href="javascript:;" th:onclick="checkCommentUserAndInputToggle(this,'deleteComment',[[${comment.contentIdx}]],[[${comment.isLogged}]],[[${comment.user}]])" style="font-size: 80%">삭제</a>
                                <a href="javascript:;" th:onclick="commentLikeDupliCheck([[${comment.contentIdx}]],this)" th:text="|👍 ${comment.likes?.likes}|"></a>
                            </div>

                            <div class="col-sm-0 form-input btn-primary" id="modifySubmitBtn" style="display: none">
                                <button class="btn btn-primary" onclick="modifySubmit(this)">제출</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <form method="post" class="write-comment row" onsubmit="return checkCommentValid()">
                <div class="col-sm-3 form-input" id="writeCommentInfo">
                    <input type="text" id="authorName" name="user" minlength="2" maxlength="20" placeholder="글쓴이" class="form-control" th:value="${userName}" th:readonly="${userName} != ''">
                    <input type="password" id="password" name="commentPassword" minlength="4" maxlength="20" placeholder="비밀번호" class="form-control form-input" th:value="${userPassword}" th:readonly="${userPassword} != ''">
                </div>
                <div class="col-sm-9 form-input">
                    <textarea minlength="2" maxlength="180" id="commentContent" name="content" class="form-control" rows="4" cols="50" style="resize: none;" placeholder="코멘트"></textarea>
                </div>
                <div class="col-sm-12 form-input" style="margin-bottom: 20px">
                    <button class="btn btn-primary float-right">제출</button>
                </div>
            </form>
        </div>
    </div>


    <style>
        .comment-content
        {
            white-space: pre-wrap;
            width: 100%;
            word-wrap: break-word;
        }

    </style>


<script th:inline="javascript">
    var galleryName = [[${board.gallery}]];
    var boardIdx = [[${board.contentIdx}]];
    var modifyURL = [[@{'/gallery/' + ${board.gallery} + '/modify/' + ${board.contentIdx}}]];
    var deleteURL = [[@{'/gallery/' + ${board.gallery} + '/delete/' + ${board.contentIdx}}]];
    var redirectURL = "";
    var isRoleUserVal = $('#isRoleUser').val();
    var isWriteLoggedBoard = [[${board.isLoggedUser}]] == 1;
    var loggedUserName = [[${userName}]];
</script>

<script th:src="@{/js/ModifyCommentAPI.js}"></script>
<script th:src="@{/js/ModifyBoardAPI.js}"></script>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
