<table class="table table-borderless mt-4" style="table-layout: fixed; font-size: 90%" th:fragment="commonBoard">
    <thead class="thead-dark">
    <tr class="text-center table-header">
        <th style="width: 70px;" scope="col">인덱스</th>
        <th scope="col">제목</th>
        <th style="width: 150px;" scope="col">작성자</th>
        <th style="width: 70px;" scope="col">조회수</th>
        <th style="width: 70px;" scope="col">추천수</th>
        <th style="width: 20%;" scope="col">작성일자</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="post : ${postList}" th:height="50px" class="text-center">
        <td>
            <p th:text="${post.contentIdx}"></p>
        </td>
        <td>
            <a th:href="@{'/gallery/' + ${galleryName} + '/' +${post.contentIdx} + '?pagingMode=' + ${pagingMode} + '&page=' + ${page}}" th:text="|${post.title} |"> </a>
            <p style="display: inline" th:text="|[${post.boardInfo.commentCount}]|"></p>
        </td>
        <td>

            <p th:if="${post.isLoggedUser} == 0" th:text="|${post.user}|"></p>
            <a th:href="@{'/user/' + ${post.user}}" th:if="${post.isLoggedUser} == 1" th:text="|${post.user} &nbsp 😎|"></a>


        </td>
        <td>
            <p th:text="${post.boardInfo?.visitedNum}"></p>
        </td>
        <td>
            <p th:text="${post.likes?.like}"></p>
        </td>
        <td>
            <p th:text="|${#temporals.format(post.createdDate,'yyyy-MM-dd HH:mm:ss')}|"></p>
        </td>


    </tr>
    </tbody>
</table>