
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
스프링부트 테스트입니다.
</body>
</html>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    var csrfParameter = $('meta[name="_csrf_parameter"]').attr('content')
    var csrfHeader = $('meta[name="_csrf_header"]').attr('content')
    var csrfToken = $('meta[name="_csrf"]').attr('content')
    $( document ).ready(function() {
        $.ajax({
            url:'http://localhost:8080/apitest',
            type:'POST',
            data: {
                Name:'ajax',
                Age:'10'
            },
            dataType:'text', // 리턴해주는 타입을 지정해줘야함
            success: function(data) {
                console.log("호출성공");
                console.log(JSON.parse(data));
            },// 요청 완료 시
            error:function(jqXHR) {
                console.log("실패입니다.");
            }// 요청 실패.
        });
    });
</script>